#base {
    -fx-background-color: #263137;
}
.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: #1F4E5A;
    -fx-border-radius: 30px;
}
.button {
//    -jfx-button-type: RAISED;
    -fx-background-color: #1F4E5A;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-cursor: HAND;
}
.button:hover {
    -fx-background-color: #2F5E6A;
}
.button:pressed {
    -fx-background-color: #FFF;
}