* {
    -fx-text-fill: white;
}
#adminTitle {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -ffx-font-family: "FreeMono";
}
.split-pane:horizontal > .split-pane-divider {
    -fx-pref-width: 5;
}
.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}
#base {
    -fx-background-color: #3C494F;
}
#hamburger {
    -fx-cursor: HAND;
}
#split {
    -fx-background-color: #3C494F;
}
.controls {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -jfx-button-type: RAISED;
    -fx-background-color: #1F4E5A;
    -fx-font-size: 16px;
}
.fields {
    -fx-pref-height: 35px;
    -fx-background-color: #3C4A4F;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}
#admin {
    -fx-background-color: #263137;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #263137;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #263137;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}